<html>
<head>
    <title>Hkvalvik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/index.css">
</head>
<body>
<div class="site">
    <nav>
        <ul>
            <li>
                <a href="/fontset" class="site-entrance">
                    Font set
                </a>
            </li>
            <li>
                <a href="/sass-scale" class="site-entrance">
                    Sass scale
                </a>
            </li>
            <li>
                <a href="/sass-scale" class="site-entrance">
                    Sass media mixins
                </a>
            </li>
        </ul>
    </nav>
    <main>
    </main>
</div>
</body>
</html>