$card-color: #888;
$card-padding: 5% 5% 5% 0;

.card {
  @include shadow-2dp;
  display: flex;
  max-width: 480px;
  background-color: #fff;

  &-image {
    flex: 1;
    position: relative;

    [class*="icon"] {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      font-size: 72px;
      color: $fontset-color-primary;

      &:before {
        margin: 0;
      }
    }
  }

  &-text {
    flex: 2;
  }

  header {
    @include fontset-font(h6);
    padding: $card-padding;
    border-bottom: solid 1px $card-color;
  }

  h2 {
    @include fontset-font(h4);
    margin: nth($card-padding, 1) nth($card-padding, 2) 0 nth($card-padding, 4);
  }

  p {
    @include fontset-font(p);
    margin: 0 nth($card-padding, 2) nth($card-padding, 3) nth($card-padding, 4);
  }

  footer {
    border-top: solid 1px $card-color;

    [class*="icon"] {
      display: inline-block;
      width: 1em;
      height: 1em;

      &:before {
        margin: 0;
      }
    }

    .icon-npm {
      vertical-align: middle;
      fill: currentColor;
    }

  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul {
    padding: $card-padding;
  }

  li {
    display: inline-block;
  }

  .icon-person:before {
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }
}