$nav-width: 320px;
$hamburger-bar-height: 1px;
$hamburger-bar-gap: 5px;
$hamburger-width: 1.5em;
$header-transition-duration: .15s;
$main-transition-duration: .33s;
$hamburger-transition-duration: $header-transition-duration;
$fontset-color-primary: deepskyblue;
$color-brand: $fontset-color-primary;
$color-dark: #222;
$color-medium: #999;
$color-light: #fff;
$max-width: 1200px;