<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hkvalvik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/dist/index.css">
</head>
<body class="home">
<main>
    <div class="home__container">
        <div class="home__profile">
            <section class="card">
                <div class="card__image">
                    <div class="card__person"></div>
                </div>
                <div class="card__text">
                    <h1>
                        Håvard Kvalvik
                    </h1>
                    <p>
                        Frontend developer
                    </p>
                    <footer>
                        <ul class="card__link-list" >
                            <li>
                                <a class="card__link" href="https://github.com/hkvalvik/" target="_blank">
                                    GitHub
                                </a>
                            </li>
                            <li>
                                <a class="card__link" href="https://www.npmjs.com/~hkvalvik" target="_blank">
                                    NPM
                                </a>
                            </li>
                            <li>
                                <a class="card__link" href="https://www.linkedin.com/in/håvard-kvalvik-11bb3512a/" target="_blank">
                                    LinkedIn
                                </a>
                            </li>
                        </ul>
                    </footer>
                </div>
            </section>
        </div>
        <div class="home__cv">
            <section class="cv">
                <header class="cv__header">
                    <h2 class="cv__heading">
                        Resume
                    </h2>
                </header>
                <table>
                    <tbody>
                    <tr>
                        <th>
                            <p>
                                Frontend developer
                            </p>
                            <p>
                                Geta
                            </p>
                        </th>
                        <td>2014 - today</td>
                    </tr>
                    <tr>
                        <th>
                            <p>
                                Frontend developer
                            </p>
                            <p>
                                Itera Gazette
                            </p>
                        </th>
                        <td>2010 - 2014</td>
                    </tr>
                    <tr>
                        <th>
                            <p>
                                Developer
                            </p>
                            <p>
                                One Communication
                            </p>
                        </th>
                        <td>2007 - 2010</td>
                    </tr>
                    <tr>
                        <th>
                            <p>
                                Developer
                            </p>
                            <p>
                                Occasional freelance work
                            </p>
                        </th>
                        <td>2005 - 2012</td>
                    </tr>
                    <tr>
                        <th>
                            <p>
                                Bachelor of Multimedia /
                                <br>
                                Minor in Digital Marketing
                            </p>
                            <p>
                                Murdoch University of Western Australia
                            </p>
                        </th>
                        <td>2004 - 2007</td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section class="skills">
                <header class="skills__header">
                    <h2 class="skills__heading">
                        Skills
                    </h2>
                    <div class="skills__emoticons">
                        <div class="skills__emoticon icon-emoticon-displeased"></div>
                        <div class="skills__emoticon icon-emoticon-happy"></div>
                    </div>
                </header>
                <dl class="skills__list">
                    <dt class="skills__topic">
                        JavaScript / ES6 / ES2015+
                    </dt>
                    <dd class="skills__score skills__score--10">
                        10
                    </dd>
                    <dt class="skills__topic">
                        HTML5
                    </dt>
                    <dd class="skills__score skills__score--10">
                        10
                    </dd>
                    <dt class="skills__topic">
                        CSS3
                    </dt>
                    <dd class="skills__score skills__score--10">
                        10
                    </dd>
                    <dt class="skills__topic">
                        Node.js
                    </dt>
                    <dd class="skills__score skills__score--8">
                        8
                    </dd>
                    <dt class="skills__topic">
                        Accessibility
                    </dt>
                    <dd class="skills__score skills__score--7">
                        7
                    </dd>
                    <dt class="skills__topic">
                        Web design
                    </dt>
                    <dd class="skills__score skills__score--2">
                        2
                    </dd>
                </dl>
                <footer class="skills__text skills__text--footer">
                    <p>
                        Familiar with a variety of tools, frameworks and libraries.
                        <br>
                        Experience with various development methodologies / concepts.
                    </p>
                </footer>
            </section>
        </div>
    </div>
</main>
<script src="dist/index.min.js"></script>
</body>
</html>
